<div class="orders-div">

  <<h2>Total Revenue</h2>

  <h3>Total Revenue per Movie Title</h3>
  <%= bar_chart  Order.revenue_per_movie, xtitle: "Total Revenue ($)", ytitle: "Movie Title", colors: ["rgba(51,195,240,0.75)"] %>

  <h3>Total Revenue per Time of Day</h3>
  <%= bar_chart Order.revenue_per_time, xtitle: "Total Revenue", ytitle: "Time of Day", colors: ["rgba(51,195,240,0.75)"] %>

  <h3>Total Revenue per Day of Week</h3>
  <%= bar_chart Order.revenue_per_day, xtitle: "Total Revenue ($)", ytitle: "Day of Week", colors: ["rgba(51,195,240,0.75)"] %>


  <h2>Total Tickets Sold</h2>

  <h3>Total Number of Tickets Sold per Movie Title</h3>
  <%= column_chart Order.tickets_per_movie, xtitle: "Movie Title", ytitle: "Total Tickets Sold", colors: ["rgba(51,195,240,0.75)"] %>


  <h3>Total Number of Tickets Sold per Time of Day</h3>
  <%= column_chart Order.tickets_per_time, xtitle: "Time of Day", ytitle: "Total Tickets Sold", colors: ["rgba(51,195,240,0.75)"] %>





</div>
