<div class="orders-div">

  <h2>Total Revenue</h2>

  <h3>Total Revenue per Movie Title</h3>
  <%= bar_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').joins('LEFT JOIN movies ON showtimes.movie_id = movies.id').group('title').sum('price*quantity'), xtitle: "Total Revenue ($)", ytitle: "Movie Title", colors: ["rgba(51,195,240,0.75)"] %>

  <h3>Total Revenue per Time of Day</h3>
  <%= bar_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').group("extract(hour from time) || ':' || extract(minute from time)").order("extract(hour from time) || ':' || extract(minute from time)").sum('price*quantity'), xtitle: "Total Revenue", ytitle: "Time of Day", colors: ["rgba(51,195,240,0.75)"] %>

  <h3>Total Revenue per Day of Week</h3>
  <%= bar_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').group_by_day_of_week('time', format: "%a").sum('price*quantity'), xtitle: "Total Revenue ($)", ytitle: "Day of Week", colors: ["rgba(51,195,240,0.75)"] %>


  <h2>Total Tickets Sold</h2>

  <h3>Total Number of Tickets Sold per Movie Title</h3>
  <%= column_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').joins('LEFT JOIN movies ON showtimes.movie_id = movies.id').group('title').sum('quantity'), xtitle: "Movie Title", ytitle: "Total Tickets Sold", colors: ["rgba(51,195,240,0.75)"] %>


  <h3>Total Number of Tickets Sold per Time of Day</h3>
  <%= column_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').group("extract(hour from time) || ':' || extract(minute from time)").order("extract(hour from time) || ':' || extract(minute from time)").sum('quantity'), xtitle: "Time of Day", ytitle: "Total Tickets Sold", colors: ["rgba(51,195,240,0.75)"] %>





</div>
