<h1>Admin</h1>

<!-- add links to screens movies and orders -->
<div class="">
  <ul class="nav navbar-nav">
    <li><%= link_to "Screens", screens_path %></li>
    <li><%= link_to "Movies", movies_path %></li>
    <li><%= link_to "Orders", orders_path %></li>
  </ul>
</div>


<!-- add links to add screens movies or showtimes -->
<div class="">
  <!-- only show this on the admins path -->
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Add Screen", new_screen_path %></li>
    <li><%= link_to "Add Movie", new_movie_path %></li>
    <li><%= link_to "Add Showtime", new_showtime_path %></li>
  </ul>
</div>
