<%= link_to "Back", admin_index_path, :class => 'button' %>

<div class="orders-div">
  <h1>Orders</h1>

  <h2>TOTAL REVENUE: $ <%= '%.2f' % @revenue %></h2>
  <h4>Filter By Movie Name: </h4>
  <%= form_tag 'orders', :method => :get do %>
    <%= text_field_tag :value_one, nil, placeholder: "Movie Title" %>
    <%= submit_tag 'Filter', :class => 'button' %>
    <%= link_to "See All Orders", orders_path, :class => 'button button-primary' %>
  <% end %>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Movie Title</th>
        <th>Qty Bought</th>
        <th>Total Sale</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%=order.showtime.time.strftime('%A %b. %d, %Y')%></td>
        <td><%=order.showtime.time.strftime('%I:%M%p')%></td>
        <td><%= order.showtime.movie.title %></td>
        <td><%= order.quantity %></td>
        <td>$ <%= '%.2f' % (order.showtime.price*order.quantity) %></td>
        <td><%= link_to order_path(order), method: :delete do %>
          <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td><strong>TOTALS</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong><%= @sum %></strong></td>
        <td><strong>$ <%= '%.2f' % @revenue %></strong></td>
      </tr>
    </tbody>
  </table>

  <h1>Dashboard</h1>

  <h3>Total Number of Tickets Sold per Movie Title</h3>
  <%= column_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').joins('LEFT JOIN movies ON showtimes.movie_id = movies.id').group('title').sum('quantity'), xtitle: "Movie Title", ytitle: "Total Tickets Sold" %>

  <h3>Total Revenue per Movie Title</h3>
  <%= bar_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').joins('LEFT JOIN movies ON showtimes.movie_id = movies.id').group('title').sum('price*quantity'), xtitle: "Total Revenue ($)", ytitle: "Movie Title" %>


  <h3>Total Number of Tickets Sold per Time of Day</h3>
  <%= column_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').group('time::time').order('time::time').sum('quantity') %>

  <h3>Total Revenue per Time of Day</h3>
  <%= bar_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').group('time::time').order('time::time').sum('price*quantity') %>

  <h3>Total Revenue per Day of Week</h3>
  <%= bar_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').group_by_day_of_week('time', format: "%a").sum('price*quantity'), xtitle: "Total Revenue ($)", ytitle: "Day of Week" %>

</div>
