<h1>Orders</h1>

<h2>TOTAL REVENUE: $<%= @revenue %></h2>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Date of Show</th>
      <th>Time of Show</th>
      <th>Movie Title</th>
      <th>Quantity Bought</th>
      <th>Total Sale Price</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%=order.showtime.time.strftime('%A %b. %d, %Y')%></td>
      <td><%=order.showtime.time.strftime('%I:%M%p')%></td>
      <td><%= order.showtime.movie.title %></td>
      <td><%= order.quantity %></td>
      <td>$ <%= '%.2f' % (order.showtime.price*order.quantity) %></td>
    </tr>
    <% end %>
    <tr>
      <td><strong>TOTALS</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong><%= @sum %></strong></td>
      <td><strong>$ <%= @revenue %></strong></td>
    </tr>
  </tbody>
</table>


<table class="u-full-width">
  <thead>
    <tr>
      <th>Totals By Movie</th>
      <th>Quantity Bought</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Add name of movie</td>
      <td>Need to sum up quantities</td>
      <td>Need to add prices</td>
    </tr>
  </tbody>
</table>


<h1>Dashboard</h1>

<h3>Total Number of Tickets Sold per Movie Title</h3>
<%= column_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').joins('LEFT JOIN movies ON showtimes.movie_id = movies.id').group('title').sum('quantity'), xtitle: "Movie Title", ytitle: "Total Tickets Sold" %>

<h3>Total Revenue per Movie Title</h3>
<%= bar_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').joins('LEFT JOIN movies ON showtimes.movie_id = movies.id').group('title').sum('price*quantity'), xtitle: "Total Revenue ($)", ytitle: "Movie Title" %>





<h3>Total Number of Tickets Sold per Time of Day</h3>
<%= column_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').group('time::time').sum('quantity') %>

<h3>Total Revenue per Time of Day</h3>
<%= bar_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').group('time::time').sum('price*quantity') %>

<h3>Total Revenue per Day of Week</h3>
<%= bar_chart Order.joins('LEFT JOIN showtimes ON orders.showtime_id = showtimes.id').group_by_day_of_week('time', format: "%a").sum('price*quantity'), xtitle: "Total Revenue ($)", ytitle: "Day of Week" %>
