<%= link_to "Back", showtime_path(@showtime), :class => 'button' %>

<h3>Add Order</h3>


<%= form_for :order, url: showtime_orders_path do |f| %>

  <% if @order.errors.any? %>
    <% @order.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
  <% end %>

  <div class="form-div">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="form-div">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="form-div">
    <%= f.label :credit_card_number %><br>
    <%= f.text_field :credit_card_number %>
  </div>

  <div class="form-div">
    <%= f.label :expiration_date %><br>
    <%= f.date_field :expiration_date %>
  </div>

    <%
    @showtime = Showtime.find(params[:showtime_id])
    tickets_left = @showtime.screen.capacity.to_i - @showtime.tickets_sold.to_i
    %>

  <div class="form-div">
    <%= f.label :quantity %><br>
    <%= f.select :quantity, (1..tickets_left) %>
  </div>

  <div class="form-div">
    <%= f.submit "Submit Order", :class => 'button button-primary' %>
  </div>


<% end %>
