<h3>Add Order</h3>

<h4>Price/Ticket: $<%= @showtime.price%></h4>

<%= form_for :order, url: showtime_orders_path do |f| %>

  <% if @order.errors.any? %>
    <% @order.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label 'Confirm Email' %><br>
    <%= f.email_field :email_confirmation %>
  </div>

  <div>
    <%= f.label :credit_card_number %><br>
    <%= f.text_field :credit_card_number %>
  </div>

  <div>
    <%= f.label :date %><br>
    <%= f.date_field :expiration_date %>
  </div>

  <div>
    <%= f.label :quantity %><br>
    <%= f.select :quantity, (1..10) %>
  </div>

  <div>
    <%= f.submit "Submit Order", :class => 'button' %>
  </div>


<% end %>
