<h1>Showtimes</h1>
<% @showtimes.each do |showtime| %>
  <!-- make sure the time hasn't passed -->
  <% if showtime.time > Time.now %>

  <div class="well">

    <p><%=showtime.movie.title%></p>
    <p><%=showtime.time.strftime('%A %b.%d, %Y')%></p>
    <p><%=showtime.time.strftime('%I:%M%p')%></p>
    <p>$<%= '%.2f' % showtime.price%></p>
    <%= link_to "Showtime Info", showtime_path(showtime), :class => 'button' %>

  </div>

  <% end %>

<% end %>
