<%= link_to "Back", showtimes_path, :class => 'button' %>

<div class="well">

  <div class="movie-title">
    <h3><%=@showtime.movie.title%></h3>
  </div>
  <div class="details">
    <div class="showtime">
      <h4><%=@showtime.time.strftime('%A %b. %d, %Y')%></h4>
      <h4><%=@showtime.time.strftime('%I:%M %p')%></h4>
    </div>
    <div class="price">
      <h3>$<%= '%.2f' % @showtime.price%></h3>
    </div>
    <div class="capacity-info">
      <h5>Room Capacity: <%=@showtime.screen.capacity%></h5>
      <h5>Tickets Sold: <%=@showtime.tickets_sold%></h5>
      <h5>Tickets Remaining: <%= @showtime.screen.capacity - @showtime.tickets_sold %></h5>
    </div>
    <div class="info">
      <% if @showtime.screen.capacity - @showtime.tickets_sold > 0 %>
        <%= link_to "Buy Tickets", new_showtime_order_path(@showtime), :class => 'button button-primary' %>
      <% else %>
        <p><strong>SOLD OUT</strong></p>
      <% end %>
    </div>
  </div>

</div>
